<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-radius: 2px;
        }
    </style>
</head>
<body>
    <table id = "loadtbl" style = "width: 30%">
        <% dbStudents.forEach((stu)=>{ %>
            <tr>  
                <td> <%=stu.name%></td> 
                <td> <%=stu.DayOfBirth%></td> 
                <td> <%=stu.MonthofBirth%></td> 
                <td> <%=stu.YearofBirth%></td> 
            </tr>
        <%})%>
    </table>
<p id="demo">  </p>
<script>
    let len = <%-dbStudents.length%>;
    let txtHeader = "";
    <% dbStudents.forEach((stu)=>{ %>

        txtHeader += "<%=stu.name%>"   + " - ";

        <%})%>

    document.getElementById(id = "demo").innerHTML = txtHeader; 
</script>
</body>
</html>
